<p id="notice"><%= notice %></p>

<h1>Albums</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Path</th>
      <th>Images</th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= link_to album.name, album %></td>
        <td><%= album.path %></td>
        <td><%= album.images.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

